<div class="top-bar">
    <div class="breadcrumb">
        netlabs <span class="chev">/</span> sessions <span class="chev">/</span> <b>netlabs.man</b>
    </div>

    <div class="right">
        <span>shell: <b>netlabs</b></span>
        <span>mode: <b>practice</b></span>
    </div>
</div>
