---
import SidebarBlock from "./SidebarBlock.astro";
import TrackList from "./TrackList.astro";
---

<SidebarBlock title="Tracks" meta="2 live · 1 soon">
    <TrackList />
</SidebarBlock>

<div class="sb-spacer"></div>
