<span class="seg branch">main</span>
<span class="seg"><span class="led"></span><b>online</b></span>
<span class="spacer"></span>
<span class="seg ok">ready</span>
<span class="seg">Ln 1, Col 1</span>
<span class="seg">UTF-8 / man</span>
<span class="seg accent">netlabs 0.4</span>
