<a href="/" class="logo" aria-label="netlabs home">
    <span class="brand-box">
        n<span class="fade-pre">et</span>l<span class="fade-mid">abs</span>
    </span>
    <span class="fade-end"><small>v0.4</small></span>
</a>
