---
import AppShell from "../layouts/AppShell.astro";
import TopNav from "../components/nav/TopNav.astro";
import StatusBar from "../components/shell/StatusBar.astro";
import TrackSelectorContent from "../components/tracks/TrackSelectorContent.astro";
import TrackSelectorSidebar from "../components/tracks/TrackSelectorSidebar.astro";
import { trackSelectors } from "../data/track-selectors";

const track = trackSelectors["ccnp-encor"];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="CCNP ENCOR practice drill selector for netlabs." />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <title>netlabs · CCNP ENCOR</title>
    </head>
    <body>
        <AppShell>
            <TopNav slot="nav" />
            <TrackSelectorSidebar slot="sidebar" track={track} />

            <TrackSelectorContent track={track} />

            <StatusBar slot="status" branch={track.branch} />
        </AppShell>
    </body>
</html>
